.img {
  height: 70px;
  width: 70px;
}
.card {
  background-color: white;
  height: 150px;
  width: 150px;
  list-style-type: none;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding-top: 15px;
  margin-bottom: 10px;
}
